body {
  display: grid;
  grid-template-areas:
    'header header header header'
    'left middle middleRight right'
    'left middle middleRight right';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  background: url('../images/mountains-lake.jpg');
  background-size: cover;
  height: 120vh;
  font-family: $primary-font-family;
}

.icon {
  height: 3em;
  width: 3em;
  padding: 1.5em 0em 1em .5em;
}

.left-section {
  grid-area: left;
  width: 22em;
  margin: 0em 3em 0em 2em;
}

main {
  display: grid;
  grid-template-areas:
  'left middle middleRight right'
  'left middle middleRight right';
  height: 100vh;
  width: 100%;
  opacity: .85;
}

p {
  font-size: .7em;
}

.hidden {
  display: none;
}

//
